.section {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 300px;
    align-items: center;
    overflow-y: hidden;

    .card {
        width: 40%;
        min-width: 400px;
        transform: translateY(250px);

        ::ng-deep.p-card {
            background: url(./../../assets/tileable-wood-texture.jpg) no-repeat top center !important;
            background-size: cover !important;
            color: white;
        }
    }
}

.education {
    display: flex;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;

    .card {
        margin-right: 25px;
        min-width: 400px;

        &.education1 {
            .GT-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }

        &.education2 {
            .GT-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }

        .icon-font-subheader {
            display: flex;
            align-items: center;
        }
    }
}

@media (min-width: 300px) and (max-width: 870px) {
    .education {
        justify-content: flex-start;
    }
}
@media (min-width: 871px) and (max-width: 5000px) {
    .education {
        justify-content: space-around;
    }
}

.come-in {
    transform: translateY(250px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.75s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    from { transform: translateY(250px); }
    to { 
        visibility: visible;
        transform: translateY(0); 
    }
}