<section id="education" class="section education">
    <p-card class="card education1" header="M.S. Electrical and Computer Engineering">
        <div class="icon-font-subheader">
            <img class="GT-logo" src="./../../assets/GT.svg">
            <label class="small-font subheader">Georgia Tech</label>
        </div>
        <ul>
            <li>Graduated in 2017.</li>
            <li>With specializations in Digital Signals Processing and Controls Systems.</li>
        </ul>
    </p-card>
    <p-card class="card education2" header="B.S. Electrical Engineering">
        <div class="icon-font-subheader">
            <img class="GT-logo" src="./../../assets/GT.svg">
            <label class="small-font subheader">Georgia Tech</label>
        </div>
        <ul>
            <li>Graduated in 2014.</li>
        </ul>
    </p-card>
</section>