.section-alt {
    min-height: 300px;
    overflow-y: hidden;
    // background-color: #fed586;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .card {
        // width: 40%;
        min-width: 380px;
        // transform: translateY(250px);

        ::ng-deep.p-card {
            background-color: rgba(73, 80, 87, 1);
            color: rgba(255, 255, 255, 1);
            font-family: 'Raleway', 'sans-serif';
        }
    }
}

.education-alt {
    display: flex;
    overflow-x: auto;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .card {
        margin-right: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        min-width: 380px;
        // transform: scaleX(0);

        &.education1 {
            .GT-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }

        &.education2 {
            .GT-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }

        .icon-font-subheader {
            display: flex;
            align-items: center;
        }
    }
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
        color: #ffffff;
        display: flex;
        justify-content: center;
    }
}

.timeline-main {
    width: 100%;
    .timeline-row {
        display: flex;
        min-height: 1rem;
        .timeline-left-content {
            display: flex;
            width: calc(100% - 1rem);
            padding-right: 1rem;
            padding-left: 1rem;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .timeline-separator {
            display: flex;
            flex: 0;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            .timeline-event-circle {
                border: 2px solid #dee2e6;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            .timeline-event-separator {
                width: 2px;
                background-color: #dee2e6;
                flex-grow: 1;
            }
        }
        .timeline-right-content {
            display: flex;
            width: calc(100% - 1rem);
            padding-left: 1rem;
            padding-right: 1rem;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .extra-small-font {
            color: #ffffff;
        }
    }
}

.timeline-main-small {
    width: 100%;
    .timeline-row {
        display: flex;
        min-height: 1rem;
        .timeline-left-content {
            width: 1rem;
            padding-left: 1rem;
        }
        .timeline-separator {
            display: flex;
            flex: 0;
            align-items: center;
            flex-direction: column;
            .timeline-event-circle {
                border: 2px solid #dee2e6;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            .timeline-event-separator {
                width: 2px;
                background-color: #dee2e6;
                flex-grow: 1;
            }
        }
        .timeline-right-content {
            width: calc(100% - 1rem);
            padding-left: 1rem;
            padding-right: 1rem;

            &.more-space-content {
                display: flex;
                flex-direction: column;
                padding-top: 1rem;
            }
        }
        .extra-small-font {
            color: #ffffff;
        }
    }
}

@media (min-width: 300px) and (max-width: 950px) {
    .education {
        justify-content: flex-start;
    }
    .education-alt {
        justify-content: flex-start;
    }
}
@media (min-width: 951px) and (max-width: 5000px) {
    .education {
        justify-content: space-around;
    }
    .education-alt {
        justify-content: space-around;
    }
}

.come-in-odd {
    transform: scaleX(0);
    animation: come-in 1s ease forwards;
    transform-origin: 100% 50%;
}
.come-in-even {
    transform: scaleX(0);
    animation: come-in 1s ease forwards;
    transform-origin: 0% 50%;
}
// .already-visible {
//     transform: translateY(0);
//     animation: none;
// }
@keyframes come-in {
    to { 
        visibility: visible;
        transform: scaleX(1); 
    }
}