.section {
    margin-top: 25px;
    .card {
        width: 40%;
        min-width: 400px;
    }
}

@media (min-width: 300px) and (max-width: 870px) {
    .experience {
        display: flex;
        width: 100%;
        overflow-x: auto;
        justify-content: flex-start;

        .card {
            margin-right: 25px;
            min-width: 400px;

            &.experience1 {
                .keysight-logo {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
                .skills-list {
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    align-items: center;

                    .logo {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                }
            }

            &.experience2 {
                .GTRI-logo {
                    width: 64px;
                    height: 24px;
                    border-radius: 0%;
                }
                .skills-list {
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    align-items: center;
                    
                    .logo {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;

                        &.labview-logo {
                            width: 64px;
                            height: 24px;
                            border-radius: 0%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 871px) and (max-width: 5000px) {
    .experience {
        display: flex;
        width: 100%;
        overflow-x: auto;
        justify-content: space-around;

        .card {
            margin-right: 25px;
            min-width: 400px;

            &.experience1 {
                .keysight-logo {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
                .skills-list {
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    align-items: center;

                    .logo {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                }
            }

            &.experience2 {
                .GTRI-logo {
                    width: 64px;
                    height: 24px;
                    border-radius: 0%;
                }
                .skills-list {
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    align-items: center;
                    
                    .logo {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;

                        &.labview-logo {
                            width: 64px;
                            height: 24px;
                            border-radius: 0%;
                        }
                    }
                }
            }
        }
    }
}