.section-alt {
    min-height: 500px;
    overflow-y: hidden;
    // background-color:  #69c7ad;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .card {
        // width: 40%;
        min-width: 380px;
        // transform: translateY(400px);

        ::ng-deep.p-card {
            background-color: rgba(73, 80, 87, 1);
            color: rgba(255, 255, 255, 1);
            font-family: 'Raleway', 'sans-serif';
        }
    }
}

.experience-alt {
    display: flex;
    overflow-x: auto;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .card {
        margin-top: 25px;
        min-width: 380px;
        margin-bottom: 25px;
        // transform: scaleX(0);

        &.experience1 {
            .keysight-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;

                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.node-logo {
                        background-color: white;
                    }
                }
            }
        }

        &.experience2 {
            .GTRI-logo {
                width: 128px;
                height: 48px;
                margin-right: 10px;
                border-radius: 0%;
                background-color: white;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;
                
                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.dsp-logo {
                        background-color: white;
                    }

                    &.labview-logo {
                        width: 128px;
                        height: 48px;
                        border-radius: 0%;
                    }
                }
            }
        }

        &.experience3 {
            .Enercon-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 0%;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;
                
                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.circuit-logo {
                        width: 64px;
                        height: 64px;
                        background-color: #ffffff;
                    }

                    &.etap-logo {
                        border-radius: 0%;
                    }

                    &.skm-logo {
                        border-radius: 0%;
                    }
                }
            }
        }

        &.experience4 {
            .GE-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 0%;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;
                
                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.mentor-logo {
                        width: 128px;
                        height: 48px;
                        border-radius: 0%;
                        background-color: white;
                    }

                    &.xilinx-logo {
                        width: 128px;
                        height: 48px;
                        border-radius: 0%;
                    }
                }
            }
        }

        .icon-font-subheader {
            display: flex;
            align-items: center;
        }
    }
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
        color: #ffffff;
        display: flex;
        justify-content: center;
    }
}

.timeline-main {
    width: 100%;
    .timeline-row {
        display: flex;
        min-height: 1rem;
        .timeline-left-content {
            display: flex;
            width: calc(100% - 1rem);
            padding-right: 1rem;
            padding-left: 1rem;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .timeline-separator {
            display: flex;
            flex: 0;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            .timeline-event-circle {
                border: 2px solid #dee2e6;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            .timeline-event-separator {
                width: 2px;
                background-color: #dee2e6;
                flex-grow: 1;
            }
        }
        .timeline-right-content {
            display: flex;
            width: calc(100% - 1rem);
            padding-left: 1rem;
            padding-right: 1rem;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .extra-small-font {
            color: #ffffff;
        }
    }
}

.timeline-main-small {
    width: 100%;
    .timeline-row {
        display: flex;
        min-height: 1rem;
        .timeline-left-content {
            width: 1rem;
            padding-left: 1rem;
        }
        .timeline-separator {
            display: flex;
            flex: 0;
            align-items: center;
            flex-direction: column;
            .timeline-event-circle {
                border: 2px solid #dee2e6;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            .timeline-event-separator {
                width: 2px;
                background-color: #dee2e6;
                flex-grow: 1;
            }
        }
        .timeline-right-content {
            width: calc(100% - 1rem);
            padding-left: 1rem;
            padding-right: 1rem;

            &.more-space-content {
                display: flex;
                flex-direction: column;
                padding-top: 1rem;
            }
        }
        .extra-small-font {
            color: #ffffff;
        }
    }
}

@media (min-width: 300px) and (max-width: 950px) {
    .experience {
        justify-content: flex-start;
    }
    .experience-alt {
        justify-content: flex-start;
    }
}
@media (min-width: 951px) and (max-width: 5000px) {
    .experience {
        justify-content: space-around;
    }
    .experience-alt {
        justify-content: space-around;
    }
}

.come-in-odd {
    transform: scaleX(0);
    animation: come-in 1s ease forwards;
    transform-origin: 100% 50%;
}
.come-in-even {
    transform: scaleX(0);
    animation: come-in 1s ease forwards;
    transform-origin: 0% 50%;
}
// .already-visible {
//     transform: translateY(0);
//     animation: none;
// }
@keyframes come-in {
    to { 
        visibility: visible;
        transform: scaleX(1); 
    }
}