.section {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 500px;
    align-items: center;

    .card {
        width: 40%;
        min-width: 400px;

        ::ng-deep.p-card {
            background: url(./../../assets/tileable-wood-texture.jpg) no-repeat top center !important;
            background-size: cover !important;
            color: white;
        }
    }
}

.experience {
    display: flex;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;

    .card {
        margin-right: 25px;
        min-width: 400px;

        &.experience1 {
            .keysight-logo {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;

                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.node-logo {
                        background-color: white;
                    }
                }
            }
        }

        &.experience2 {
            .GTRI-logo {
                width: 128px;
                height: 48px;
                margin-right: 10px;
                border-radius: 0%;
                background-color: white;
            }
            .skills-list {
                display: flex;
                width: 100%;
                overflow: hidden;
                justify-content: space-around;
                margin-bottom: 10px;
                align-items: center;
                
                .logo {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;

                    &.dsp-logo {
                        background-color: white;
                    }

                    &.labview-logo {
                        width: 128px;
                        height: 48px;
                        border-radius: 0%;
                    }
                }
            }
        }

        .icon-font-subheader {
            display: flex;
            align-items: center;
        }
    }
}

@media (min-width: 300px) and (max-width: 870px) {
    .experience {
        justify-content: flex-start;
    }
}
@media (min-width: 871px) and (max-width: 5000px) {
    .experience {
        justify-content: space-around;
    }
}