.section {
    margin-top: 25px;
    .card {
        width: 40%;
        min-width: 400px;
    }
}

.projects {
    display: flex;
    width: 100%;
    overflow-x: auto;
    justify-content: flex-start;

    .card {
        margin-right: 25px;
        min-width: 400px;
    }
}