<section class="section projects">
    <p-card class="card project1" header="Electronic Chess Board">
        <ul>
            <li>Leader of a team of six that worked on a full year senior design project. The team is made a embedded electronic chess board system that will be used for helping beginners learn the game of chess.</li>
            <li>The electronic chess board involves the usage of microcontrollers, circuit layout for inputs and outputs for user interface, and coding algorithm for moves prediction.</li>
            <li>The project will involve the following phases: project summary, proposal, design, presentation, and final report.</li>
        </ul>
        <p-footer>
            <iframe width="375" height="275"
                src="https://www.youtube.com/embed/D8UT4jN9hEQ" allowfullscreen>
            </iframe>
        </p-footer>
    </p-card>
    <p-card class="card project2" header="Behavioral Robotics">
        <ul>
            <li>Worked with a team of 3 to implement high level robotic behaviors on LEGO bot with TI MSP432 microcontroller.</li>
            <li>Used IR distance sensor, step up motors, and TI MSP432 microcontroller to design the system.</li>
            <li>Used the Real-Time Operating System (RTOS) module for multithreaded code.</li>
            <li>Implemented 2 different high level controllers (differential steering and trajectory planning) for autonomous use.</li>
        </ul>
        <p-footer>
            <iframe width="375" height="275"
                src="https://www.youtube.com/embed/gcAjhraBvJ8" allowfullscreen>
            </iframe>
        </p-footer>
    </p-card>
    <p-card class="card project3" header="Cancer Clinical Decision System">
        <ul>
            <li>Worked with a team of 4 build a Kidney Cancer Diagnosis System with a final accuracy of 95%.</li>
            <li>Goal: To take Histopathological Images of real patients and classify into Necrosis, Stroma, or Tumor class.</li>
            <li>Project consisted of 3 parts: Automatic segmentation of nuclear structures, Image feature extraction and exploration, and Image classification.</li>
            <li>Built a GUI to get user interaction and display results.</li>
        </ul>
        <p-footer>
            <iframe width="375" height="275"
                src="https://www.youtube.com/embed/pTyJmCnsaOk" allowfullscreen>
            </iframe>
        </p-footer>
    </p-card>
    <p-card class="card project4" header="Energy Prediction">
        <ul>
            <li>Worked with a team of 3 to build a prediction algorithm to predict future energy consumption in New York City.</li>
            <li>Final test prediction error of 1.54% Mean Absolute Percentage Error using Deep Neural Networks.</li>
            <li>Project consisted of 3 parts: Data gathering, Feature extraction, and Regression modeling.</li>
            <li>Regression models such as Deep Neural Networks, Random Forests, and Support Vector Machines techniques were used to build regression models.</li>
        </ul>
    </p-card>
    <p-card class="card project5" header="Speech Compression">
        <ul>
            <li>A speech with multiple components with approximate size of raw signal of 11MB was given for compression.</li>
            <li>Techniques such as Subband Coding, Uniform Quantizers, and LPC filtering with Pitch predication and Intensity estimations were used to compress the signal.</li>
            <li>Final size of the signal was 700KB. A compression ratio of 16.</li>
        </ul>
    </p-card>
</section>