.section-alt {
    margin-bottom: 50px;
    min-height: 600px;
    align-items: center;
    // overflow-y: hidden;
    // background-color:  #4cabb1;

    .card {
        width: 40%;
        min-width: 400px;
        margin-top: 25px;
        margin-bottom: 25px;
        // transform: translateY(500px);
        
        ::ng-deep.p-card {
            color: #434B56;
        }
    }
}

.projects-alt {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-left: 8%;
    margin-right: 8%;

    .card {
        // margin-right: 25px;
        min-width: 400px;

        ::ng-deep.p-card-footer {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 300px) and (max-width: 525px) {
    .projects {
        justify-content: flex-start;
    }
    .projects-alt {
        justify-content: flex-start;
    }
}
@media (min-width: 526px) and (max-width: 5000px) {
    .projects {
        justify-content: flex-start;
    }
    .projects-alt {
        justify-content: space-evenly;
    }
}

.come-in {
    transform: translateY(500px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.75s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    to { 
        visibility: visible;
        transform: translateY(0); 
    }
}