.section {
    margin-top: 200px;
    margin-bottom: 100px;
    min-height: 600px;
    align-items: center;

    .card {
        width: 40%;
        min-width: 400px;

        ::ng-deep.p-card {
            background: url(./../../assets/tileable-wood-texture.jpg) no-repeat top center !important;
            background-size: cover !important;
            color: white;
        }
    }
}

.profile {
    display: flex;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;

    .card {
        margin-right: 25px;
    }

    .profile-pic {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        background: url(./../../assets/OldNewsPaper.jpg) no-repeat top center;
        background-size: cover;
        width: 75%;
    }
}

@media (min-width: 300px) and (max-width: 870px) {
    .profile {
        justify-content: flex-start;
    }
}
@media (min-width: 871px) and (max-width: 5000px) {
    .profile {
        justify-content: space-around;
    }
}