.section-alt {
    min-height: 600px;
    align-items: center;
    overflow-y: hidden;
    background-color: transparent;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .card {
        // width: 40%;
        min-width: 380px;
        // transform: translateY(500px);

        ::ng-deep.p-card {
            color: #434B56;
            font-family: 'Raleway', 'sans-serif';
        }

        ::ng-deep fieldset {
            font-family: 'Raleway', 'sans-serif';
        }
    }
}

.profile-alt {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;

    .profile-content {
        width: 100%;
    }

    .card {
        // width: 50%;
        margin-bottom: 2rem;
    }

    .profile1 {
        display: flex;
        width: 100%;
        min-width: calc(760px + 2rem);
    }

    .main-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        .profile-summary {
            width: 60%;
            .summary {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                ::ng-deep.p-card {
                    background-color: #495057;
                    color: #ffffff;
                    margin: 1rem;
                    height: calc(100% - 2rem);
                    
                    .p-card-body {
                        height: 100%;
                        .p-card-content {
                            height: 100%;
                        }
                    }
                }
                .card-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 165px;
                    height: 100%
                }
            }
            .profile2 {
                width: 100%;
                margin-bottom: 2rem;
                // margin-left: 1rem;
                margin-right: 1rem;
    
                ::ng-deep fieldset {
                    background-color: transparent;
                    color: #ffffff;
                    
                    legend {
                        background-color: transparent;
                        color: #ffffff;
                    }
                }
            }
        }
        .skills {
            width: 40%;
            margin-bottom: 2rem;
            margin-left: 1rem;
            // margin-right: 1rem;

            ::ng-deep fieldset {
                background-color: transparent;
                color: #ffffff;
                
                legend {
                    background-color: transparent;
                    color: #ffffff;
                }
            }

            .skills-list {
                padding-bottom: 0.75rem;
                .skill-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                ::ng-deep.p-progressbar {
                    border-radius: 12px;
                }
            }
        }
    }

    p-card.profile1 {
        ::ng-deep.p-card-body {
            padding: 0px;
            .p-card-content {
                padding: 0px;
            }
        }
    }

    .profile-pic-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // background: url(./../../assets/background.jpg) no-repeat top center;
        // background-size: cover;
        // width: 100%;
        background-color: #406a7d;

        .left-profile-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0%;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: 1250%;
            }
        }

        .center-profile-pic {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        .right-profile-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right: 50%;
                width: 130%;
            }
        }
    }

}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
        color: #ffffff;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 300px) and (max-width: 950px) {
    .profile, .profile1, .profile-alt, .main-content {
        justify-content: flex-start;
    }
}
@media (min-width: 951px) and (max-width: 5000px) {
    .profile, .profile1, .profile-alt, .main-content {
        justify-content: space-around;
    }
}

.come-in {
    transform: translateY(500px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.75s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    to { 
        visibility: visible;
        transform: translateY(0); 
    }
}

//Octogon shape
.oct:nth-child(odd) {
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
}

.oct:nth-child(even) {
    transition: all 1s ease-in-out;
    transform: rotate(-360deg);
}