<section id="main" class="profile section">
    <p-card class="card profile1">
        <!-- Profile pic -->
        <div class="profile-pic">
            <img src="./../../assets/wanted_pencil_sketch.jpg" width="500px" height="550px">
        </div>
    </p-card>
    <p-card class="card profile2">
        <p class="med-font">
            This is Arjun Patel. 
            He has been working as a Software Engineer for Keysight Technologies 3+ years.
            He has experience working as a full stack developer. Some of the technologies he
            has worked with include Angular framework, C++, Nodejs, Express, KOA, etc.
            Apart from working as a software engineer he also has background in Electrical
            and Computer Engineering. He has earned a MS/BS in ECE from Georgia Tech with 
            technical interest in Signal Processing. 
        </p>
    </p-card>
</section>