.section {
    margin-top: 25px;
    .card {
        width: 40%;
        min-width: 400px;
    }
}

@media (min-width: 300px) and (max-width: 870px) {
    .profile {
        display: flex;
        justify-content: flex-start;
        border-bottom: black;
        border-top: black;
    }
}
@media (min-width: 871px) and (max-width: 5000px) {
    .profile {
        display: flex;
        justify-content: space-around;
        border-bottom: black;
        border-top: black;
    }
}