.profile-page-alt {
    background-color: rgba(50, 57, 64, 1);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 6px !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &.on-scrollbar{
        scrollbar-width: thin; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    &.on-scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent !important;
    }

    &.on-scrollbar::-webkit-scrollbar {
        width: 6px !important;
        background-color: transparent;
    }

    &.on-scrollbar::-webkit-scrollbar-thumb {
        background-color: #acacac;
        border-radius: 10px !important;
    }

    .menubar {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 16%);
        height: 100px;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;

        button {
            background-color: #495057;
            color: #ffffff;
            height: 40px;
        }
    }

    .content {
        display: flex;
        justify-content: space-around;
    }

    .sidebar-content {
        display: flex;

        ::ng-deep.p-sidebar {
            background-color: rgba(67, 75, 86, 1);
            // width: 25%;
            padding: 0px;
            //mobile
            @media (min-width: 300px) and (max-width: 500px) {
                width: 60%;
            }
            // Tablet
            @media (min-width: 501px) and (max-width: 800px) {
                width: 50%;
            }
            // Laptop Small
            @media (min-width: 801px) and (max-width: 1100px) {
                width: 40%;
            }
            // Laptops Bigger
            @media (min-width: 1101px) and (max-width: 4100px) {
                width: 25%;
            }

            .p-sidebar-content {
                height: 100%;
                overflow-y: auto;
            }
        }

        .profile-avatar-section {
            padding-top: 2rem;
            padding-bottom: 1rem;
            margin-left: 1rem;
            margin-right:1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            .profile-avatar {
                display: flex;
                justify-content: center;
                img {
                    border-radius: 100%;
                }
            }
            .profile-name {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;
                padding-top: 1rem;
                color: #ffffff;
                font-weight: bolder;
            }
            .profile-title {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;
                color: #aaaaaa;
            }
        }

        .profile-skills-section {
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            margin-left: 1rem;
            margin-right:1rem;
            .section-name {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                // border: 1px solid;
                cursor: pointer;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.14);
                }

                &.section-active {
                    background-color: rgba(50, 57, 64, 1);
                    border-left: 0.5rem solid rgba(33, 150, 240, 1);
                }
            }
        }

        .contact-section {
            padding-top: 1em;

            .creator-label {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
                font-weight: bold;
            }
    
            .links {
                display: flex;
                width: 100%;
                overflow-x: auto;
                justify-content: center;
                overflow-y: hidden;

                .youtube-link {
                    // border-radius: 50%;
                }
    
                .linkedin-link {
                    border-radius: 50%;
                }
    
                .github-link {
                    border-radius: 50%;
                }
            }
        }

    }

    .home-content {
        .inside-home-content {
            .section {
                margin-top: 25px;
                margin-bottom: 25px;
                .card {
                    width: 40%;
                    min-width: 380px;
                }
            }
        }
    }

    .home-content-shift {
        width: calc(100% - 25%);
        margin-left: 25%;
    }
}

.come-in {
    transform: translateY(250px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.75s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    from { transform: translateY(250px); }
    to { 
        visibility: visible;
        transform: translateY(0); 
    }
}