.profile-page {
    background: url(./../../assets/Oldwesttown.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 6px !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &.on-scrollbar{
        scrollbar-width: thin; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    &.on-scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent !important;
    }

    &.on-scrollbar::-webkit-scrollbar {
        width: 6px !important;
        background-color: transparent;
    }

    &.on-scrollbar::-webkit-scrollbar-thumb {
        background-color: #acacac;
        border-radius: 10px !important;
    }

    .menubar {
        position: fixed; 
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        background: url(./../../assets/tileable-wood-texture.jpg) no-repeat top center;
        background-size: cover;
        align-items: center;
        z-index: 1;

        button {
            color: black;
            // background: url(./../../assets/OldNewsPaper.jpg) no-repeat top center !important;
            // background-size: cover;
            background: #EFEFEF;
            color: black;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            height: 40px;

            &:active, &:hover {
                outline: none;
                box-shadow: none;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.295);
            }
        }
    }

    .home-content {
        .section {
            margin-top: 25px;
            margin-bottom: 25px;
            .card {
                width: 40%;
                min-width: 400px;
            }
        }

        .creator-label {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            font-weight: bold;
        }

        .links {
            display: flex;
            width: 100%;
            overflow-x: auto;
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
            overflow-y: hidden;

            .linkedin-link {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 10px;
                margin-right: 10px;
            }

            .github-link {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}


.come-in {
    transform: translateY(250px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.75s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    from { transform: translateY(250px); }
    to { 
        visibility: visible;
        transform: translateY(0); 
    }
}