<div class="profile-page">
    <!-- menubar -->
    <div class="menubar">
        <button pButton label="Home" icon="pi pi-home"></button>
        <button pButton label="Profile" icon="pi pi-info-circle"></button>
        <button pButton label="Experience" icon="pi pi-info-circle"></button>
        <button pButton label="Education"></button>
        <button pButton label="Projects"></button>
    </div>
    <!-- content -->
    <div class="home-content">
        <app-main></app-main>
        <app-experience></app-experience>
        <app-education></app-education>
        <app-projects></app-projects>

        <section class="section links">
            <a href="https://www.linkedin.com/in/arjun-d-patel">
                <img class="linkedin-link" src="./../../assets/linkedin.svg">
            </a>
            <a href="https://github.com/arjunpatel17">
                <img class="github-link" src="./../../assets/github.svg">
            </a>
        </section>
    </div>
</div>