<div class="profile-page-alt" (scroll)="onWindowScroll($event)">
    <div *ngIf="fullBar" class="menubar">
    </div>
    <div *ngIf="!fullBar" class="menubar">
        <div></div>
        <button type="button" pButton icon="pi pi-bars" (click)="sidebarClick($event)"></button>
    </div>
    <div class="sidebar-content">
        <p-sidebar [(visible)]="display" [modal]="modal" [showCloseIcon]="showCloseIcon">
            <section class="profile-avatar-section">
                <div class="profile-avatar">
                    <img src="./../../assets/photo-avatar.JPG" width="70%" height="70%">
                </div>
                <div class="profile-name dynamic-font-size-big">Arjun Patel</div>
                <div class="profile-title dynamic-font-size">Full Stack Developer</div>
            </section>
            <section class="profile-skills-section">
                <div class="section-name dynamic-font-size" (click)="onClickTab('main')">Skills</div>
                <div class="section-name dynamic-font-size" (click)="onClickTab('experience')">Experience</div>
                <div class="section-name dynamic-font-size" (click)="onClickTab('education')">Education</div>
                <div class="section-name dynamic-font-size" (click)="onClickTab('projects')">Projects</div>
            </section>
            <section class="contact-section section">
                <div class="creator-label dynamic-font-size">Contact Me</div>
                <div class="link-icons links">
                    <a href="https://www.linkedin.com/in/arjun-d-patel">
                        <img class="linkedin-link dynamic-icon-size" src="./../../assets/linkedin.svg">
                    </a>
                    <a href="https://github.com/arjunpatel17">
                        <img class="github-link dynamic-icon-size" src="./../../assets/github.svg">
                    </a>
                    <a href="https://www.youtube.com/channel/UCh39ErMMqBONgVBiYJ_q2uA">
                        <img class="youtube-link dynamic-icon-size" src="./../../assets/YouTube.svg">
                    </a>
                </div>
            </section>
        </p-sidebar>
    </div>
    <div class="home-content" [ngClass]="{'home-content-shift': fullBar}">
        <div [@routeAnimations]="o && o.activatedRouteData 
            && o.activatedRouteData['animation']">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>
</div>