.wanted-page {
    width: 100%; 
    height: 100%;
    overflow: hidden;
    background-color: black; /* fallback color */
    background-image: url("../../assets/WantedPage.jpg");
    background-position: center;
    background-size: cover;

    .buttonDiv {
        display: flex;
        height: 40px;
        justify-content: center;
        top: 75%;
        left: 1%;
        position: relative;

        button {
            color: black;
            background: none;
            border: none;

            &:active, &:hover, &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

}