.parent {
    width: 100%; 
    height: 100%;
    overflow: hidden;
    background-color: black; /* fallback color */
    background-image: url("../../assets/Oldwesttown.jpg");
    background-position: center;
    background-size: cover;
}
  
.child {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-image: url("../../assets/Oldwesttown.jpg");
    background-position: center;
    background-size: cover;
}

.parent .child,
.parent .child {
    animation-name: landing;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes landing {
    from{
        filter: blur(0);
    }
    to{
        transform: scale(5.0) translate(20%, -20%);
        filter: blur(4px);
    }
}
